
/* Give the body a white background color */
body {
  background: #f1f1f1;
}

/* Use this class for graphs, to put them next to each other on large screens */
.col-md-6 {
  display: inline-block;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

/* Main container for the pages */
.container {
  margin-top: 10px;
}

.container img {
    display: inline-block;
}

/* Give the .dataframe bold titles */
.dataframe thead th {
  font-weight: bold;
}

/* For autosizing the graphs as the screen size changes */
.full-width {
  width:100%;
  height:auto;
}

/* Spins the graph when the page loads */
.graph-spin {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in;
}

/* Add font family, size, and weight for the h1 and h2 elements plus space around then */
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
}

/* Style the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Center the h1 tag inside our header, give it a little padding, remove its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Auto sizing the height of images */
img.resize {
  width:200px;
  height:auto;
}

.landing page {
  padding: 20px;
  margin-left: 20px;
}

/* Add a margin at the top of the page so the words don't tough the top */
.margin-top-80 {
  margin-top: 80px;
}

/* Give the navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: #5191fd;
}

/* Make the navbar li's inline-block elements */
.navbar li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
}

/* Get rid of the default link styles here and name font family */
.navbar li a {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Graph titles font style */
.png-titles {
  padding 5px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}

/* Font type for data table column headers */
.table-head {
  font-family: 'Times New Roman', Times, serif;
}

/* Add media queries to the drop-down menu on the plots tab */

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: white;
  border: none;
  float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* For large devices, increase the size of the nav bar white boxes and the padding */
@media only screen and (min-width: 992px) {
  .container row col {
    padding:10px;
  }

  .navbar li {
    padding: 20px;
  }
}