html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .business {
  color: #ec8a2e;
}

.legend .law {
  color: #a0353a;
}

.legend .medicine {
  color: #f4ba48;
}

.legend .engineering {
  color: #362204;
}

.legend .nursing {
  color: #007dff;
}
